{% extends 'base.html' %}

{% load static %}

{% block title %} About Us {% endblock %}
{% block content %}


    <section class="home-slider owl-carousel">
      <div class="slider-item bread-item" style="background-image: url('{% static 'website/images/BGS_7.jpg' %}');" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container" data-scrollax-parent="true">
          <div class="row slider-text align-items-end">
            <div class="col-md-7 col-sm-12 ftco-animate mb-5">
              <p class="breadcrumbs" data-scrollax=" properties: { translateY: '70%', opacity: 1.6}"><span class="mr-2"><a href="index.html">Home</a></span> <span>About</span></p>
              <h1 class="mb-3" data-scrollax=" properties: { translateY: '70%', opacity: .9}">About Us</h1>
            </div>
          </div>
        </div>
      </div>
    </section>

		<section class="ftco-section">
    	<div class="container">
    		<div class="row d-md-flex">
	    		<div class="col-md-6 ftco-animate img about-image order-md-last" style="background-image: url({% static 'website/images/BGS_4.jpg' %});">
	    		</div>
	    		<div class="col-md-6 ftco-animate pr-md-5 order-md-first">
		    		<div class="row">
		          <div class="col-md-12 nav-link-wrap mb-5">
		            <div class="nav ftco-animate nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
		              <a class="nav-link active" id="v-pills-whatwedo-tab" data-toggle="pill" href="#v-pills-whatwedo" role="tab" aria-controls="v-pills-whatwedo" aria-selected="true">What we do</a>

		              <a class="nav-link" id="v-pills-mission-tab" data-toggle="pill" href="#v-pills-mission" role="tab" aria-controls="v-pills-mission" aria-selected="false">Our mission</a>

		              <a class="nav-link" id="v-pills-goal-tab" data-toggle="pill" href="#v-pills-goal" role="tab" aria-controls="v-pills-goal" aria-selected="false">Our goal</a>
		            </div>
		          </div>
		          <div class="col-md-12 d-flex align-items-center">
		            
		            <div class="tab-content ftco-animate" id="v-pills-tabContent">

		              <div class="tab-pane fade show active" id="v-pills-whatwedo" role="tabpanel" aria-labelledby="v-pills-whatwedo-tab">
		              	<div>
			                <h2 class="mb-4">We Offer High Quality Services</h2>
			              	<p>At Real Relaxed Dentistry, our aim is to make a positive difference in the lives of the youth and adults by offering the highest-quality dental care in a private-office atmosphere. By providing a team of professional, highly educated, honest, compassionate and committed employees, we aim to improve patient health, appearance, self-confidence and overall quality of life.</p>
			                <p>This philosophy is what Dr.Nxumalo firmly believes in and practices everyday, with each and every patient that walks through the door.</p>
				            </div>
		              </div>

		              <div class="tab-pane fade" id="v-pills-mission" role="tabpanel" aria-labelledby="v-pills-mission-tab">
		                <div>
			                <h2 class="mb-4">To Accomodate All Patients</h2>
			              	<p>Our Mission is to create a warm, friendly and comfortable dental environment which makes patients readily attend to their oral health whilst providing quality health care to ALL patients who enter our dental practice.
		              </div>

		              <div class="tab-pane fade" id="v-pills-goal" role="tabpanel" aria-labelledby="v-pills-goal-tab">
		                <div>
			                <h2 class="mb-4">Help Our Customers Dental Education</h2>
			              	<p>Our Goal is to inform and educate patients about their oral health in an easily understandable and respectful manner; whilst simultaneously eliminating the stigma which perceives the dental setting as a cold and unpleasant environment where one is bound to experience pain or trauma.</p>
				            </div>
		              </div>
		            </div>
		          </div>
		        </div>
		      </div>
		    </div>
    	</div>
    </section>

    <section>
      <div class="container-wrap mt-5">
        <div class="row d-flex no-gutters">
          <div class="col-md-6 img" style="background-image: url({% static 'website/images/BGS_9.jpg' %});">
          </div>
          <div class="col-md-6 d-flex">
            <div class="about-wrap">
              <div class="heading-section heading-section-white mb-5 ftco-animate">
                <h2 class="mb-2">Dental Care with a personal touch</h2>
                <p>Quality dental treatment from a Dentist that actually cares about the quality of your smile.</p>
              </div>
              <div class="list-services d-flex ftco-animate">
                <div class="icon d-flex justify-content-center align-items-center">
                  <span class="icon-check2"></span>
                </div>
                <div class="text">
                  <h3>The Right Dentist for You</h3>
                  <p>Dr.Nxumalo is a Dentist that not only wants to treat your teeth but actually wants to create a genuine relationship with patients.</p>
                </div>
              </div>
              <div class="list-services d-flex ftco-animate">
                <div class="icon d-flex justify-content-center align-items-center">
                  <span class="icon-check2"></span>
                </div>
                <div class="text">
                  <h3>High Technology Facilities</h3>
                  <p>Real Relaxed Dentistry only uses reliable dental equipment that is of quality and is built using the latest technology.</p>
                </div>
              </div>
              <div class="list-services d-flex ftco-animate">
                <div class="icon d-flex justify-content-center align-items-center">
                  <span class="icon-check2"></span>
                </div>
                <div class="text">
                  <h3>Comfortable Dental Procedures</h3>
                  <p>Booking an appointment with Real Relaxed Dentistry is a decision you will never regret, Dr.Nxumalo makes sure  patients are comfortable with dental procedures removing any fear you might have had about going to the dentist.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="ftco-section testimony-section bg-light">
      <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
          <div class="col-md-7 text-center heading-section ftco-animate">
            <h2 class="mb-2">Testimonies</h2>
            <span class="subheading">Our Happy Customers</span>
          </div>
        </div>
        <div class="row justify-content-center ftco-animate">
          <div class="col-md-8">
            <div class="carousel-testimony owl-carousel ftco-owl">
              <div class="item">
                <div class="testimony-wrap p-4 pb-5">
                  <div class="user-img mb-5" style="background-image: url({% static 'website/images/testimonial_3.jpg' %})">
                    <span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-left"></i>
                    </span>
                  </div>
                  <div class="text text-center">
                    <p class="mb-5">The service I recieved from Dr.Nxumalo was excellent. I was great in that I did not experience any pain at all or any damage to my teeth. Since the consultation with him I have felt good about my smile and the state of my smile. May God bless this young man and keep him passionate and dedicated to patient care for as long as he works.</p>
                    <p class="name">Pastor Andy</p>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap p-4 pb-5">
                  <div class="user-img mb-5" style="background-image: url({% static 'website/images/testimonial_1.jpg' %})">
                    <span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-left"></i>
                    </span>
                  </div>
                  <div class="text text-center">
                    <p class="mb-5">For the longest time I have had a fear of going to the dentist but it was was only until recently, when I had an appointment with Dr.Nxumalo that the fear disappeared. Upon my arrival the atmosphere was very friendly and professional.</p>
                    <p class="name">Nosipho</p>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimony-wrap p-4 pb-5">
                  <div class="user-img mb-5" style="background-image: url({% static 'website/images/testimonial_2.jpg' %})">
                    <span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-left"></i>
                    </span>
                  </div>
                  <div class="text text-center">
                    <p class="mb-5">I am a senior citizen with a fairly busy schedule so I just couldn't squeeze a dental appointment last year, so I made my mind that I wil check the dentist in the first quarter of 2021. In January 2021 I booked an appoinment with Real Relaxed Dentistry. I was very impressed with the way he treats his patients. Dr.Nxumalo is knowledgeable and voluntarily gives information on how to look after your teeth. I strongly recommend that you get him to do your teeth.</p>
                    <p class="name">Dumase Nxumalo</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    

{% endblock %}